<html>
<head>
<title>This page is not for the normal people</title>
</head>
<body>
<div id="description" padding=30px>
</p><h1> Admin Access Page </h1></body>
</div>
<div id="what_for" padding=10px>
<marquee> Area 51 : This page is for some shady bussiness of the admin !! Stay Away from here. </marquee>
</div>

<!--

Use these information for accessing the Backend and the API just in case.
This information should ever be pushed to the production.

Remove before prod push.

Backend server = 192.168.10.103
Cloud API = prod.cloudprovidername.com
The backend version = MySQL
Apache Version = 9.0.1
Username = mean_machine
Password = b3@$7$l@y3r
Port = 33360

-->
</html>
