<link rel="stylesheet" href="/static/style.css" type="text/css">

      <form action="/login" method="GET">
    <div class="login">
      <div class="login-screen">
      <div class="app-title">
      <h1>Subscription Details</h1>
    </div>

      <div class="login-form">

        <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="username" name="username">
              <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="email" name="email">
              <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="card_no" name="card_no">
              <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="card_secret" name="card_secret">
              <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <div class="control-group">
              <input type="submit" value="Subscribe" class="btn btn-primary btn-large btn-block">
        </div>
      </div>
      </div>
      </div>
    </form>
