<html>
<head>
<title>The first ever flask app</title>
</head>
<body>
<div id="description" padding=30px>
</p>This is a delibertly vulnerable application which will allow anyone to learn basics of the source code review.</body>
</div>
<div id="what_for" padding=10px>
</p> Usually you will be seeing a lots of vulnerble applications for practice with UI, but have you ever encountered a scenario where you have a set of code to review which doesn't have a UI, this project will let you practice the basic vulnerabilities without seeing the interface. You will only have the code and the task is to manually analyse the code and find the issues. Hope you like this idea !
</div>
</html>
