<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/sl" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>admin_login</h1>
</div>
<div class="login-form">

<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="key_to_admin" name="key_to_admin">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Access" class="btn btn-primary btn-large btn-block">
</div>
</div>
</div>
</form>
